* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(5, 5, 87);
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}
/* header */
.icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    border: solid 1px rgb(219, 49, 49);
    padding: 10px;
    border-radius: 10px;
    color: rgb(219, 49, 49);
    cursor: pointer;
    display: none;
    height: 40%;
    margin-top: 30px;
}

.icon li {
    display: inline-block;
}

.icon_container li {
    list-style-type: none;
    padding: 10px;
    font-size: 17px;
    color: rgb(5, 5, 87);
    cursor: pointer;
}

.icon_container ul {
    margin-left: 20px;
}

.icon_container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
}
.button {
    display: block;
    border: 1px solid rgb(219, 49, 49);
    background-color: rgb(219, 49, 49);
    border-radius: 60px;
    padding: 15px 20px;
    transition: all 0.3s linear;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width: 150px;
    text-align: center;
}

.button:hover {
    color: rgb(219, 49, 49);
    background-color: white;
}

.icon li a {
    color: rgb(5, 5, 87);
}

.icon a:hover {
    color: rgb(219, 49, 49);
}

.icon {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 90px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.icon span {
    font-size: 30px;
    color: rgb(27, 27, 233);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_left {
    display: flex;
}
.icon_left img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 90px;   
}
.overlay {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100%;
    opacity: 35%;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    z-index: 2;
}

.script {
    display: block;
    margin-top: 60px;
}
    .script h4 {
        font-size: 45px;
        font-weight: bolder;
    }
:root {
    --blue: rgb(5, 5, 87);
    --red: rgb(219, 49, 49);
    --green: #16b95a;
    --aquamarine: rgba(127, 255, 212, 0.164);
    --light_blue: rgb(2, 214, 214);
    --yellow: rgb(255, 189, 7);
}

/*8888888888888888888888888888888888888888888888888888888888888888888*/

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
/*    border: 3px dotted red;*/
    background-color: #AAA;
}

.QLX-panel-content {
    font-family: "Calibri";
    font-weight: lighter;
}

.QLX-panel-content label {
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
}



.QLX-panel-content input {
    margin-left: 50px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #FAFAFA;
    /* transition: border-bottom 0.2s; */
}



.QLX-panel-content input:focus {
    outline: none;
}

.QLX-panel-content h1 {
    font-family: "Calibri";
    text-align: center;
    margin-bottom: 10px;
}

.QLX-panel {
    box-shadow: 3px 3px 10px rgba(0, 0, 0.5);
    border-radius: 10px;
    display: inline-block;
/*    border: 3px solid blue;*/
    width: 300px;
    margin: 50px 50px 0 50px;
    padding: 20px 0 20px 0px;
    background-color: #DDD;
}

.c-ml {
    margin-left: 50px;
}

.left {
    float: left;
}

/*.QLX-panel {
    display: inline-block;*/
/*    border: 3px solid blue;*/
    /*width: 300px;
    margin: 50px 50px 0 50px;
    padding: 20px 0 20px 0px;
    background-color: #DDD;
}*/

.begin {
    margin-left: 50px;
}

.radio {
    display: inline-block;
/*    border: 1px solid black;*/
}
.radio input {
    margin-left: 0;
}
.radio label {
    margin-left: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 150px);
    width: 90%;
    gap: 20px;
}

.left-panels {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iframe-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*    border: 3px solid black;*/
    margin: 50px 0 0 0;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0.5);
    border-radius: 10px;
}

.frame {
    width: 100%;
    height: 100%;
/*    border: 2px solid yellow;*/
    border-radius: 10px;
}