﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Đăng ký gói";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Các gói đăng ký</title>
    <link rel="stylesheet" href="~/css/PackPrice.css">
</head>
<body>
    <h1>Các gói hiện có</h1>

    <div class="package-container">
        <div class="package">
            <h3>Gói 1 Tháng</h3>
            <div class="price">50.000đ</div>
            <ul class="features">
                <li>Giữ xe 24/7</li>
                <li>Bảo hiểm xe</li>
                <li>Thẻ xe điện tử</li>

            </ul>
            <a href="#" class="register-btn">Đăng Ký Ngay</a>
        </div>

        <div class="package">
            <h3>Gói 3 Tháng</h3>
            <div class="price">120.000đ</div>
            <ul class="features">
                <li>Giữ xe 24/7</li>
                <li>Bảo hiểm xe</li>
                <li>Thẻ xe điện tử</li>
                <li class="highlight">Giảm 20% tổng giá</li>
            </ul>
            <a href="#" class="register-btn">Đăng Ký Ngay</a>
        </div>

        <div class="package">
            <h3>Gói 6 Tháng</h3>
            <div class="price">200.000đ</div>
            <ul class="features">
                <li>Giữ xe 24/7</li>
                <li>Bảo hiểm xe</li>
                <li>Thẻ xe điện tử</li>
                <li class="highlight">Giảm 33% tổng giá</li>
            </ul>
            <a href="#" class="register-btn">Đăng Ký Ngay</a>
        </div>
    </div>
</body>
</html>